{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Сумма заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Комментарий</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
        <td>{{item.order_item.id}}</td>
        <td>{{item.order_item.get_status_display}}</td>
        <td>{{item.order_item.get_payment_method_display}}</td>
        <td>{{item.order_item.order_price}}</td>
        <td>{{item.order_item.firstname}} {{item.order_item.lastname}}</td>
        <td>{{item.order_item.phonenumber}}</td>
        <td>{{item.order_item.address}}</td>
        <td>
          {% if item.restaurants %}
            <details>
              <summary>Может быть приготовлен ресторанами: &#9660</summary>
                <p>
                  <ul>
                    {% for restaurant in item.restaurants %}
                      <li>{{ restaurant }}</li>
                    {% endfor %}
                  </ul>
                </p>
            </details>
          {% elif item.order_item.restaurant  %}
            Готовится в {{ item.order_item.restaurant }}
          {% else %}
            Не нашлось ресторанов, с таким набором продуктов.
          {% endif %}
        </td>
        <td>{{item.order_item.comment}}</td>
        <td><a href="{% url 'admin:foodcartapp_order_change' item.order_item.id %}?next={{request.path|urlencode}}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
